body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-image: url('https://media.tenor.com/6ZUs587t-_YAAAAC/blue-heart-black.gif');
	background-size: cover;
	background-position: center;
}

header {
	padding: 20px;
	text-align: center;
}

h1 {
	margin: 0;
	font-size: 36px;
	font-weight: normal;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
}

nav li {
	margin: 0 10px;
}

nav a {
	text-decoration: none;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	transition: all 0.3s ease;
	color: #fff;
}

nav a:hover {
	color: #f2f2f2;
}

main {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
	color: #f2f2f2;
	background-color: rgba(0, 0, 0, 0.5);
}

h2 {
	font-size: 24px;
	margin-top: 0;
}

p {
	margin-bottom: 20px;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

li {
	margin-bottom: 10px;
}

img {
	max-width: 100%;
	height: auto;
}

footer {
	padding: 20px;
	text-align: center;
	color: #f2f2f2;
	background-color: rgba(0, 0, 0, 0.5);
}

footer p {
	margin: 0;
	font-size: 14px;
}

.dark-theme {
	background-color: rgba(0, 0, 0, 0.5);
	color: #f2f2f2;
}

.colorful {
	background-color: #f2f2f2;
	color: #333;
}

.colorful header {
	background-color: #333;
	color: #fff;
}

.colorful nav a {
	color: #333;
}

.colorful nav a:hover {
	color: #f2f2f2;
}

.colorful main {
	background-color: #fff;
	color: #333;
}

.colorful h2 {
	color: #333;
}

.colorful ul {
	background-color: #fff;
	padding: 10px;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.colorful li {
	background-color: #f2f2f2;
	padding: 10px;
	border-radius: 5px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.colorful li:hover {
	background-color: #e6e6e6;
}
